# Remove not needed docs and fluff
artifacts/
build/artifacts/
docs/
docs/_build
docs/*.pyc
docs/*.png
docs/*.jpg
tests/
*.md
*.rst
*.dist
*.txt
phpunit.xml
composer.phar
composer.lock
composer-test.lock
Makefile
LICENSE
.idea
.DS_STORE
.gitignore
